.login {
  text-align: center;
}

h1 {
  text-align: center;
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: #1b5e20;
  display: flex;
  z-index: 2;
}

body {
  --header-height: 50px;

  margin: var(--header-height) 0 0 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.header__button {
  width: var(--header-height);
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background: white;
  transform: translateX(-250px);
  background-color: #1b5e20;
  transition: transform 0.3s;
  
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  
}

.nav__link {
  display: flex; 
  align-items: center;
  background-color: #1b5e20;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px 15px;
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 15px;
}



.nav__link:hover {
  background: #eeeeee;
  color: #1b5e20;
  
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}

.x-button { 
  cursor: pointer;
  float: right;
  margin-right: 10px;
  background-color: #1b5e20;
  color: white;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}

.x-button:hover, .show-button:hover {
  color: #1b5e20;
  background-color: #eeeeee;
  
}

.form-inputs{
  display: inline-grid;
  width: 200px;
  padding: 100px 100px;
  border: solid 2px #1b5e20;
  border-radius: 50px;
  box-shadow: 10px 5px 15px black;
  height: 220px;
}

#login-img {
  margin-top: 10px;
  border-radius: 10px;
}

#signup_link {
  margin-top: 5px;
}

h3 {
  margin: 0;
}


.calendar {
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #1b5e20;
  text-decoration: none;
  cursor: pointer;
}

.modal-title{
  margin-bottom: 20px;
}

.new-user-btn {
  margin: 10px 0px;
}

.table-btn {
  cursor: pointer;
}

.info-container {
  float: right;
  height: 300px;
  width: 500px;
  position: absolute;
  right: 400px;
  top: 160px;
  border: solid 2px #1b5e20;
  padding: 10px;
  border-radius: 50px;
  
}

.new-student {
  display: table-caption;
}

#new-select {
  float: right;
  position: absolute;
  right: 30px;
  top: 94px;
}

#cat-label {
  margin-left: 100px;
  
}



.show-button{
  cursor: pointer;
  float: left;
  margin-right: 10px;
  background-color: #1b5e20;
  color: white;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}

.hidden { 
  display: none;
  transition: transform 0.3s;
  background: transform 0.2s;
}

.css-15001un-MuiTableCell-root.MuiTableCell-body{
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}

.css-15001un-MuiTableCell-root.MuiTableCell-body:hover {
  background-color: #1b5e20;
  text-decoration: none;
  cursor: pointer;
  color:white

}

.css-1wnsr1i {
  max-height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  border: solid 2px #1b5e20;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logout-btn {
  position: absolute;
  right: 0px;
  top: 10px;
}

.logged_out{
  display: none;
}
