.login {
  text-align: center;
}

h1 {
  text-align: center;
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: #47079b;
  display: flex;
}

body {
  --header-height: 50px;

  margin: var(--header-height) 0 0 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.header__button {
  width: var(--header-height);
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background: white;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
  display: flex; 
  align-items: center;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.3s;
}

.nav__link > i {
  margin-right: 15px;
}

.nav__link--active {
  color: #009578;
  background: #eeeeee;
}

.nav__link:hover {
  background: #eeeeee;
  color: #47079b;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}

.x-button { 
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.form-inputs{
  display: inline-grid;
  width: 200px;
  padding: 100px 100px;
  border: solid 2px #47079b;
  border-radius: 50px;
  box-shadow: 10px 5px 15px black;
  height: 150px;
}

#login-img {
  margin-top: 10px;
  border-radius: 10px;
}

#signup_link {
  margin-top: 5px;
}

h3 {
  margin: 0;
}
